<div class="modal-header">
	<button type="button" class="close"
		ng-click="AppCtrl.closeModalWindow()">&times;</button>
	<h4 class="modal-title">{{::languageConstants.get('Inventory
		Label')}}</h4>
</div>

<div class="modal-body">
	<div class="container-fluid">
		<div class="alert alert-danger" role="alert"
			ng-if="modelobject.childmodelobject.hasError">
			<span>{{modelobject.childmodelobject.errorMessage}}</span>
			<button type="button" class="close"
				ng-click="modelobject.childmodelobject.hasError=false">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
	<form name="inventoryForm"
		ng-submit="AppCtrl.submitInventoryForm(inventoryForm.$valid)"
		novalidate>
		<div class="panel {{theme.panel}}">
			<div class="table-responsive h5-padding-md">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<table class="inlineTable">
							<tr>
								<td>
									<table class="inlineTable">

										<tr class="h5-color-graphite">
											<td><h5>{{::languageConstants.get('Warehouse')}}</h5></td>
											<td>:</td>
											<td><input name="warehouse" type="text"
												class="h5-input-xs"
												ng-model="globalSelection.inventoryLabel.WHLO" name="WHLO"
												title="Warehouse" maxlength="3" readonly></td>
										</tr>
										<tr class="h5-color-graphite">
											<td><h5>{{::languageConstants.get('Item No')}}</h5></td>
											<td>:</td>
											<td><input name="itemNumber" type="text"
												class="h5-input-sm"
												ng-model="globalSelection.inventoryLabel.ITNO" name="ITNO"
												title="Item Number" maxlength="15" readonly></td>
										</tr>
										<tr class="h5-color-graphite">
											<td><h5>{{::languageConstants.get('Lot')}}</h5></td>
											<td>:</td>
											<td><input name="lot" type="text" class="h5-input-sm"
												ng-model="globalSelection.inventoryLabel.BANO" name="BANO"
												title="Lot" maxlength="20" ng-minlength="7" readonly></td>
										</tr>
										<tr>
											<td><h5>{{::languageConstants.get('Lot Ref 1')}}</h5></td>
											<td>:</td>
											<td><input name="lotReference1" type="text"
												class="h5-input-sm"
												ng-model="globalSelection.inventoryLabel.BREF" name="BREF"
												title="Lot Reference 1" maxlength="10"></td>
										</tr>
										<tr class="h5-color-graphite">
											<td><h5>{{::languageConstants.get('UOM')}}</h5></td>
											<td>:</td>
											<td><input name="uom" type="text" class="h5-input-xs"
												ng-model="globalSelection.inventoryLabel.UNMS" name="UMNS"
												title="Unit of Measurement" maxlength="3" readonly></td>
										</tr>
										<tr>
											<td><h5>{{::languageConstants.get('# Boxes')}}</h5></td>
											<td>:</td>
											<td><input name="numOfBoxes" type="number"
												class="h5-input-xs"
												ng-model="globalSelection.inventoryLabel.BXNO" name=""
												title="# of Boxes" min="1" max="100" step="1"
												onkeypress="return event.charCode >= 48 && event.charCode <= 57"
												style="text-align: right" required></td>
										</tr>
										<tr>
											<td></td>
											<td></td>
											<td><h6 style="color: red;"
													ng-show="inventoryForm.numOfBoxes.$invalid&& !inventoryForm.numOfBoxes.$pristine"
													class="help-block">{{::languageConstants.get('Number
													of Boxes must be between 1-100.')}}</h6></td>
										</tr>
										<tr>
											<td><h5>{{::languageConstants.get('Multiple')}}</h5></td>
											<td>:</td>
											<td><input name="multiple" type="checkbox"
												class="h5-input-xs"
												ng-model="globalSelection.inventoryLabel.MULT" name="MULT"
												title="Multiple Labels" style="text-align: right"></td>
										</tr>


									</table>
								</td>
								<td>
									<table class="inlineTable">
										<tr class="h5-color-graphite">
											<td><h5>{{::languageConstants.get('Name')}}</h5></td>
											<td>:</td>
											<td><input name="description" type="text"
												class="h5-input-md"
												ng-model="globalSelection.inventoryLabel.ITDS" name="ITDS"
												title="Description" maxlength="30" readonly></td>
										</tr>
										<td><h5>{{::languageConstants.get('Receipt Date')}}</h5></td>
										<td>:</td>
										<td><div class="input-group datepicker h5-input-md">
												<input name="REDA"
													uib-tooltip="{{languageConstants.get('Receipt Date')}}"
													placeholder="Receipt Date..." type="date"
													class="form-control" id="receiptDate" uib-datepicker-popup
													ng-model="globalSelection.inventoryLabel.REDA"
													is-open="globalSelection.inventoryLabel.REDAOpen"
													datepicker-options="dateOptions" ng-required="true"
													close-text="Close" /> <span class="input-group-btn">
													<button type="button" class="btn btn-default"
														ng-click="AppCtrl.openDatepicker($event)">
														<i class="glyphicon glyphicon-calendar"></i>
													</button>
												</span>

											</div></td>


										<tr>
											<td><h5>{{::languageConstants.get('Reference
													Lot')}}</h5></td>
											<td>:</td>
											<td><input name="referenceLot" type="text"
												class="h5-input-xs"
												ng-model="globalSelection.inventoryLabel.RORN" name="RORN"
												title="Reference Lot" maxlength="10"></td>
										</tr>
										<tr>
											<td></td>
											<td></td>
											<td><h6 style="color: red;"
													ng-show="inventoryForm.startingBox.$invalid && !inventoryForm.startingBox.$pristine"
													class="help-block">{{::languageConstants.get('Starting
													Box cannot be blank.')}}</h6></td>
										</tr>
										<tr>
											<td><h5>{{::languageConstants.get('Lot Ref 2')}}</h5></td>
											<td>:</td>
											<td><input name="lotReference2" type="text"
												class="h5-input-sm"
												ng-model="globalSelection.inventoryLabel.BRE2" name="BRE2"
												title="Lot Reference 2" maxlength="20"></td>
										</tr>
										<tr>
											<td><h5>{{::languageConstants.get('Quantity')}}</h5></td>
											<td>:</td>
											<td><input name="quantity" type="number"
												class="h5-input-sm"
												ng-model="globalSelection.inventoryLabel.STQT"
												ng-change="AppCtrl.netGrossCheck()" title="Quantity"
												step="1" onkeypress="return event.charCode <= 57"
												maxlength="10" style="text-align: right" min="0" required></td>
										</tr>
										<tr>
											<td><h5>{{::languageConstants.get('Labels per
													Box')}}</h5></td>
											<td>:</td>
											<td><input name="labelsPerBox" type="number"
												class="h5-input-xs"
												ng-model="globalSelection.inventoryLabel.LBPB"
												title="Labels per Box" min="1" max="100" step="1"
												onkeypress="return event.charCode >= 48 && event.charCode <= 57"
												style="text-align: right" required></td>
										</tr>
										<tr>
											<td></td>
											<td></td>
											<td><h6 style="color: red;"
													ng-show="inventoryForm.labelsPerBox.$invalid && !inventoryForm.labelsPerBox.$pristine"
													class="help-block">{{::languageConstants.get('Labels
													per Box must be between 1-100.')}}</h6></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="pager h5-margin-auto">
									<ul>
										<li><button type="submit"
												class="h5Button {{theme.button}}"
												ng-disabled="inventoryForm.$invalid">{{::languageConstants.get('Print')}}</button></li>
										<li><button type="button"
												class="h5Button {{theme.button}}"
												ng-click="AppCtrl.closeModalWindow()">{{::languageConstants.get('Cancel')}}</button>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>