<div id="LabelModule">
	<div class="panel {{theme.panel}}">
		<div class="panel-heading h5-cursor-pointer"
			ng-model="modelobject.collapseUIGrid1"
			ng-mousedown="modelobject.collapseUIGrid1=!modelobject.collapseUIGrid1">
			<img class="h5-icon" ng-src="img/selection-icon.png"
				title="{{::languageConstants.get('Heading')}}" alt="" />{{::languageConstants.get('Hose Label Details')}}
		</div>
		<div style="clear: both">
			<div class="table-responsive h5-padding-md">
			<tr>
				<th colspan="3" class="h5-padding-md-l h5-color-graphite-dark"><h4>{{::languageConstants.get('')}}</h4></th>
			</tr>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-3">
						<table class="inlineTable">
							
							<tr class="h5-color-graphite">
								<td><h5>{{::languageConstants.get('Warehouse')}}</h5></td>
								<td>:</td>
								<td><input type="text" class="h5-input-xs"
									ng-model="itemGroupModule.addItemGroup.ITGR"
									name="ITGR" title="Item Group"></td>
							</tr>
							<tr class="h5-color-graphite">
								<td><h5>{{::languageConstants.get('Item No')}}</h5></td>
								<td>:</td>
								<td><input type="text" class="h5-input-sm"
									ng-model="itemGroupModule.addItemGroup.TX15"
									name="ITGR" title="Item Group"></td>
							</tr>
							<tr class="h5-color-graphite">
								<td><h5>{{::languageConstants.get('Stock No')}}</h5></td>
								<td>:</td>
								<td><input type="text" class="h5-input-sm"
									ng-model="itemGroupModule.addItemGroup.TX40"
									name="ITGR" title="Item Group"></td>
							</tr>
							<tr class="h5-color-graphite">
								<td><h5>{{::languageConstants.get('Description')}}</h5></td>
								<td>:</td>
								<td><input type="text" class="h5-input-md"
									ng-model="itemGroupModule.addItemGroup.TX40"
									name="ITGR" title="Item Group"></td>
							</tr>
							<tr class="h5-color-graphite">
								<td><h5>{{::languageConstants.get('Dimension')}}</h5></td>
								<td>:</td>
								<td><input type="text" class="h5-input-sm"
									ng-model="itemGroupModule.addItemGroup.TX40"
									name="ITGR" title="Item Group"></td>
							</tr>
							<tr class="h5-color-graphite">
								<td><h5>{{::languageConstants.get('Length')}}</h5></td>
								<td>:</td>
								<td><input type="text" class="h5-input-xs"
									ng-model="itemGroupModule.addItemGroup.TX40"
									name="ITGR" title="Item Group"></td>
							</tr>
							<tr class="h5-color-graphite">
								<td><h5>{{::languageConstants.get('Case')}}</h5></td>
								<td>:</td>
								<td><input type="text" class="h5-input-xs"
									ng-model="itemGroupModule.addItemGroup.TX40"
									name="ITGR" title="Item Group"></td>
							</tr>
							<tr class="h5-color-graphite">
								<td><h5>{{::languageConstants.get('Pallets')}}</h5></td>
								<td>:</td>
								<td><input type="text" class="h5-input-xs"
									ng-model="itemGroupModule.addItemGroup.TX40"
									name="ITGR" title="Item Group"></td>
							</tr>
							<tr class="h5-color-graphite">
								<td><h5>{{::languageConstants.get('UCC')}}</h5></td>
								<td>:</td>
								<td><input type="text" class="h5-input-sm"
									ng-model="itemGroupModule.addItemGroup.TX40"
									name="ITGR" title="Item Group"></td>
							</tr>
							<tr class="h5-color-graphite">
								<td><h5>{{::languageConstants.get('# Labels')}}</h5></td>
								<td>:</td>
								<td><input type="text" class="h5-input-xs"
									ng-model="itemGroupModule.addItemGroup.TX40"
									name="ITGR" title="Item Group"></td>
							</tr>
						</table>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-3">
						<table class="inlineTable">
							<tr>
								<th colspan="3" class="h5-padding-md-l h5-color-graphite-dark"><h4>{{::languageConstants.get('')}}</h4></th>
							</tr>
							<tr class="h5-color-graphite">
								<td><h5>{{::languageConstants.get('Production Date')}}</h5></td>
								<td>:</td>
								<td><input type="text" class="h5-input-xs"
									ng-model="itemGroupModule.addItemGroup.SECU"
									name="ITGR" title="Item Group"></td>
							</tr>
							<tr class="h5-color-graphite">
								<td><h5>{{::languageConstants.get('Print Carton')}}</h5></td>
								<td>:</td>
								<td><input type="checkbox" 
									ng-model="itemGroupModule.addItemGroup.TECU"
									name="ITGR" title="Item Group"></td>
							</tr>
							<tr class="h5-color-graphite">
								<td><h5>{{::languageConstants.get('Customer')}}</h5></td>
								<td>:</td>
								<td><input type="text" class="h5-input-sm"
									ng-model="itemGroupModule.addItemGroup.SECU"
									name="ITGR" title="Item Group"></td>
							</tr>
						</table>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-3">
						<table class="inlineTable">
							<tr>
								<th colspan="3" class="h5-padding-md-l h5-color-graphite-dark"><h4>{{::languageConstants.get('')}}</h4></th>
							</tr>
							<tr class="h5-color-graphite">
								<td><h5>{{::languageConstants.get('Shift')}}</h5></td>
								<td>:</td>
								<td><input type="checkbox" 
									ng-model="itemGroupModule.addItemGroup.TECU"
									name="ITGR" title="Item Group"></td>
							</tr>
							<tr class="h5-color-graphite">
								<td><h5>{{::languageConstants.get('Print Pallet')}}</h5></td>
								<td>:</td>
								<td><input type="checkbox"
									ng-model="itemGroupModule.addItemGroup.TECU"
									name="ITGR" title="Item Group"></td>
							</tr>
							<tr class="h5-color-graphite">
								<td><h5>{{::languageConstants.get('Use Master GTIN')}}</h5></td>
								<td>:</td>
								<td><input type="checkbox" 
									ng-model="itemGroupModule.addItemGroup.TECU"
									name="ITGR" title="Item Group"></td>
							</tr>
						</table>
					</div>
					
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="pager h5-margin-auto">
							<ul>

								<li><button class="h5Button {{theme.button}}"
										ng-click="AppCtrl.addItemGroup()">{{::languageConstants.get('Cancel')}}</button></li>
								<li><button class="h5Button {{theme.button}}"
										ng-click="AppCtrl.loadApplicationData()">{{::languageConstants.get('Print')}}</button></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
</div>
