<div id="selectionView" class="container-fluid">
	<div class="panel {{theme.panel}}">
		<div class="panel-heading h5-cursor-pointer" ng-model="collapseSel"
			ng-click="collapseSel=!collapseSel">
			<img class="h5-icon" ng-src="img/selection-icon.png"
				title="{{::languageConstants.get('Selection')}}" alt="" />{{::languageConstants.get('Selection')}}
		</div>
		<div class="table-responsive h5-padding-md" ng-if="!collapseSel">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<table class="inlineTable">


						<tr class="h5-color-graphite">
							<td><h5>{{::languageConstants.get('Printer')}}</h5></td>
							<td>:</td>
							<td><ui-select class="h5-input-md {{theme.h5Dropdown}}"
									ng-model="globalSelection.printer.selected" theme="bootstrap"
									on-select="AppCtrl.updPrinterFile()">
								<ui-select-match
									placeholder="{{::languageConstants.get('Select Printer')}}">{{$select.selected.DEV
								+ ' - ' +$select.selected.TX40}}</ui-select-match> <ui-select-choices
									repeat="printer.DEV as printer in globalSelection.printerData | filter: $select.search track by printer.DEV">
								<span ng-bind-html="printer.DEV | highlight: $select.search"></span>
								- <small ng-bind-html="printer.TX40 | highlight: $select.search"></small></ui-select-choices>
								</ui-select></td>

						</tr>
					</table>
				</div>
			</div>
			
		</div>
	</div>
</div>